#svg {
    background-image: linear-gradient(90deg, #dfdfdf 1px, transparent 0), linear-gradient(180deg, #dfdfdf 1px, transparent 0);
    background-size: 20px 20px;
    background-position: left -1px top -1px;
    height: 100%;
    width: 100%;
}

#chart {
    position: relative;
    width: 800px;
    height: 600px;
    background-size: 10px 10px;
    background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
    background-position: left -1px top -1px;
    border: 1px solid #dfdfdf;
}

#position {
    position: absolute;
    right: 4px;
}

.unselectable {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}