#canvas {
    border: 1px solid #a3a3a3;
    position: absolute;
}

#chart {
    position: relative;
    width: 800px;
    height: 600px;
    background-size: 10px 10px;
    background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
    background-position: left -1px top -1px;
    border: 1px solid #f1f1f1;
}

#position {
    font-size: 12px;
    position: absolute;
    right: 6px;
    top: 6px;
}

.unselectable {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}